<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DISABLEFORNOTIFICATIONS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>disableForNotifications</string>
			<key>label</key>
			<string>DISABLEFORNOTIFICATIONS</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DISABLEFORANYNOTIFICATIONS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>disableForAnyNotifications</string>
			<key>label</key>
			<string>DISABLEFORANYNOTIFICATIONS</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ONLYSTARTONSWIPE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>onlyStartOnSwipe</string>
			<key>label</key>
			<string>ONLYSTARTONSWIPE</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DISABLEONMUSIC_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>notWhenMusic</string>
			<key>label</key>
			<string>DISABLEONMUSIC</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STARTONSWIPE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>startOnSwipe</string>
			<key>label</key>
			<string>STARTONSWIPE</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DENYENTRY_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>showDenyEntry</string>
			<key>label</key>
			<string>DENYENTRY</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SHOWIMAGE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>showImage</string>
			<key>label</key>
			<string>SHOWIMAGE</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>GUESTMODE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>startGuestModeOnFail</string>
			<key>label</key>
			<string>GUESTMODE</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DONTCHANGE1_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>dontChange1</string>
			<key>label</key>
			<string>DONTCHANGE1</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DONTCHANGE2_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>dontChange2</string>
			<key>label</key>
			<string>DONTCHANGE2</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
