<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.appellancysettings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.efrederickson.appellancy/reloadSettings</string>
			<key>cellClass</key>
			<string>AppellancyTintedSwitchCell</string>
			<key>icon</key>
			<string>enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ActualSettingsListController</string>
			<key>label</key>
			<string>OPTIONS</string>
			<key>icon</key>
			<string>settings.png</string>
			<key>cellClass</key>
			<string>AppellancyTintedCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MakersListController</string>
			<key>label</key>
			<string>MAKERS</string>
			<key>icon</key>
			<string>maker.png</string>
			<key>cellClass</key>
			<string>AppellancyTintedCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright (C) 2014 Elijah Frederickson.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Appellancy</string>
</dict>
</plist>
